@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Gorditas:700|Knewave&display=swap');

.boton, .botonEmergente {
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  background: linear-gradient(to bottom, #f6b03f 5%, #998746 100%);
  border: 1px solid #615839;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px 0 #000;
  color: #f4edec;
  font-family: 'Alfa Slab One', cursive;
  font-size: 2em;
  padding: 17px 51px;
  
  text-decoration: none;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  text-transform: uppercase;
}

.botonEmergente {
  margin-top: 3%;
  margin-bottom: 3%;
}

.tecladoDiv {
  margin-bottom: 4%;
}

.tecla {
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  background: linear-gradient(to bottom, #f1e728 5%, #ee9d07 100%);
  border: 1px outset #615839;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px 0 #000;
  color: #f0e892;
  font-family: 'Alfa Slab One', cursive;
  font-size: 2em;
  padding: 8px 17px;
  margin: 0.5%;
  text-decoration: none;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  text-transform: uppercase;
  animation: teclas 1s;
  width: 7%;
}

.teclaDeshabilitada {
  -webkit-text-stroke: 1px #000;
  background: linear-gradient(to bottom, #f39406 5%, #807038 100%);
  border: 1px inset #615839;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px 0 #000;
  color: #f59107;
  font-family: 'Alfa Slab One', cursive;
  font-size: 2em;
  padding: 8px 17px;
  margin: 0.5%;
  text-decoration: none;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  text-transform: uppercase;
  width: 7%;
}

.boton:active, .tecla:active, .botonEmergente:active {
  position: relative;
  top: 1px;
}

.boton:hover, .tecla:hover, .botonEmergente:hover {
  background: linear-gradient(to bottom, #e7f303 65%, #b5a054 100%);
  
}
.myButton {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #000000 5%, #eded21 100%);
	background-color:#000000;
	border-radius:18px;
	border:1px solid #cfcf19;
	display:inline-block;
	cursor:pointer;
	color:#f5f0f5;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	font-style:italic;
	padding:8px 25px;
	text-decoration:none;
	text-shadow:1px 3px 0px #810e05;
}
.myButton:hover {
	background:linear-gradient(to bottom, #eded21 5%, #000000 100%);
	background-color:#eded21;
}
.myButton:active {
	position:relative;
	top:1px;
}

        
